name: CI (PR)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint & Build (PR)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/Jod

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Lint project
        run: npm run lint

      - name: Build project
        run: npm run build
